// $var font-family -------------------
$Farsan: "Farsan-Regular";
$Lato: "Lato-Regular";
$Lato-Lgh: "Lato-Light";
$Lato-Bld: "Lato-Bold";

// $var font-size ---------------------
$xxBig: 7.2rem;
$xBig: 4rem;
$Big: 3rem;
$Med: 2.4rem;
$Reg: 2rem;
$Sml: 1.8rem;
$Norm: 1.2rem;
$xSml: 1.0rem;

// $var color -------------------------
$red: #ff8282;
$opColor: #4ae0c9;
$enColor: #ff9900;
$snColor: #6b94d6;
$siColor: #6fe29f;
$sjColor: #e06dd8;
$mkColor: #b72121;
