// FONTS
@font-face {
	font-family: "Lato-Regular";
    src: url('../assets/fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: "Farsan-Regular";
    src: url('../assets/fonts/Farsan-Regular.ttf');
}
$Farsan: "Farsan-Regular";
$Lato: "Lato-Regular";

// font-size
$xxBig: 7.2rem;
$xBig: 4rem;
$Big: 3rem;
$Med: 2.4rem;
$Reg: 2rem;
$Sml: 1.8rem;
$xSml: 1.0rem;

// color
$red: #FF4A4A;
$dRed: #3F0000;

// GLOBAL
body {
  background: #000;
  font-size: 62.5%;
	overflow: hidden;
}
button:focus {
	outline: 0;
}
.is-active {
	right: 0px !important;
}
.disappear {
	opacity: 0;
}
.rotate {
	top: 50% !important;
	transform: translate(0, -50%) rotate(135deg);
}
.invRotate {
	top: 50% !important;
	transform: translate(0, -50%) rotate(-135deg);
}
// HEADER -----------------------------
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
	position: absolute;
	z-index: 2;
  &_logo {
    width: 150px;
    height: auto;
  }
  &_menu {
		width: 40px;
		height: 20px;
    margin: 0 50px;
    cursor: pointer;
		position: relative;
		&:hover > .header_menu_line {
			background: $red;
		}
		&:before {
			content: '';
			background: rgba(0,0,0,0.5);
			width: 60px;
			height: 60px;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0);
			transition: all 0.3s ease;
		}
		&:hover:before {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(1);
		}
		&_line {
			background: #fff;
			width: 40px;
			height: 2px;
			position: absolute;
			transition: all 0.3s ease;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
				transform: translate(0, -50%);
			}
			&:nth-child(3) {
				bottom: 0;
			}
		}
  }
}
// INFOS ------------------------------
.infos {
	position: absolute;
	left: 50px;
	bottom: 100px;
	z-index: 2;
  &_titleBox {
    display: flex;
    align-items: flex-end;

    &_title {
			color: #fff;
      font-family: $Lato;
      font-size: $Big;
    }
    &_type {
      background: #2E84FC;
      padding: 5px;
      margin: 0 15px;
      text-transform: uppercase;
      font-family: $Lato;
      font-size: $xSml;
    }
  }
  &_author {
		color: #fff;
    text-transform: uppercase;
    margin: 5px 0 15px 0;
    font-family: $Lato;
    font-size: $Sml;

  }
  &_tags {
    &_tag {
      padding: 5px;
      margin-right: 15px;
      border-radius: 5px;
      font-family: $Lato;
      font-size: $xSml;
    }
  }
}
// PLAYER -----------------------------
.player {
	background: url('../assets/imgs/bg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	&_buttons {
		background: rgba(0,0,0,0.75);
		padding: 10px 25px;
		border-radius: 15px;
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 30px;
		transform: translate(-50%, 0);
		opacity: 0.25;
		transition: all 0.3s ease;
		cursor: default;
		&:hover {
			opacity: 1;
		}
		&_button {
			border: 0px;
			background: rgba(0,0,0,0);
			cursor: pointer;
			width: 20px;
			height: 20px;
			margin: 0 10px;

			background-size: 20px 20px;
			&:nth-child(1) {
				background: url('../assets/imgs/icons/mute.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/mute-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
			&:nth-child(2) {
				background: url('../assets/imgs/icons/play.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/play-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
			&:nth-child(3) {
				background: url('../assets/imgs/icons/pause.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/pause-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
			&:nth-child(4) {
				background: url('../assets/imgs/icons/previous.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/previous-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
			&:nth-child(5) {
				background: url('../assets/imgs/icons/next.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/next-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
			&:nth-child(6) {
				background: url('../assets/imgs/icons/plus.svg') no-repeat center;
				background-size: 20px 20px;
				transition: all 0.3s ease;
				&:hover {
					background: url('../assets/imgs/icons/plus-anim.svg') no-repeat center;
					background-size: 20px 20px;
				}
			}
		}
	}
}

// SEARCH -----------------------------
.search {
	background: $dRed;
	width: 300px;
	height: 100vh;
	position: absolute;
	right: -300px;
	transition: all 0.5s ease-out;
}


// ------------------
.aoe-player {
	width: 100%;
	height: 100vh;
	position: absolute;
	&_overlay {
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
	}
}

#shonen {
  background: lightblue;
  color: darkblue;
}
#action {
  background: red;
  color: darkred;
}
#aventure {
  background: lightgreen;
  color: darkgreen;
}

.test  {
  width: 100px;
  height: 100px;
  background: green;
}
