// FONTS
@font-face {
	font-family: "Lato-Regular";
    src: url('../assets/fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: "Farsan-Regular";
    src: url('../assets/fonts/Farsan-Regular.ttf');
}
$Farsan: "Farsan-Regular";
$Lato: "Lato-Regular";

// font-size
$xxBig: 7.2rem;
$xBig: 4rem;
$Big: 3rem;
$Med: 2.4rem;
$Reg: 2rem;
$Sml: 1.8rem;
$xSml: 1.0rem;


// GLOBAL
body {
  background: lightcyan;
  font-size: 62.5%;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
	position: absolute;
	z-index: 2;
  &_logo {
    width: 150px;
    height: auto;
  }
  &_menu {
    margin: 0 30px;
    cursor: pointer;
  }
}
.infos {
	position: absolute;
	left: 50px;
	bottom: 100px;
	z-index: 2;
  &_titleBox {
    display: flex;
    align-items: flex-end;

    &_title {
      font-family: $Lato;
      font-size: $Big;
    }
    &_type {
      background: #2E84FC;
      padding: 5px;
      margin: 0 15px;
      text-transform: uppercase;
      font-family: $Lato;
      font-size: $xSml;
    }
  }
  &_author {
    text-transform: uppercase;
    margin: 5px 0 15px 0;
    font-family: $Lato;
    font-size: $Sml;

  }
  &_tags {
    &_tag {
      padding: 5px;
      margin-right: 15px;
      border-radius: 5px;
      font-family: $Lato;
      font-size: $xSml;
    }
  }
}
.player {
	background: url('../assets/imgs/bg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	&_buttons {
		background: rgba(0,0,0,0.75);
		padding: 10px 25px;
		border-radius: 15px;
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: 30px;
		transform: translate(-50%, 0);
		&_button {
			border: 0px;
			background: rgba(0,0,0,0);
			cursor: pointer;
			&_img {
				height: 30px;
					width: auto;
			}
		}
	}
}
#shonen {
  background: lightblue;
  color: darkblue;
}
#action {
  background: red;
  color: darkred;
}
#aventure {
  background: lightgreen;
  color: darkgreen;
}

.test  {
  width: 100px;
  height: 100px;
  background: green;
}
